{% extends 'Shared/Base.html' %}
{% load humanize %}
{% load static %}
{% load widget_tweaks %}
{% block head_title %}دوره {{ object.title }}{% endblock %}

{% block content %}
    <!-- inner page banner -->
    <div class="page-banner ovbl-dark" style="background-image:url('{{ object.image.url }}');">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">دوره {{ object.title }}</h1>
            </div>
        </div>
    </div>
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="/">خانه</a></li>
                <li><a href="{% url 'course:course_list' %}"> دوره های آموزشی</a></li>
                <li>
                    <a href="{{ object.categories.first.category_url }}">{{ object.category_to_str }}</a>
                </li>
                <li><a href="{{ object.course_url }}">{{ object.title }}</a></li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- inner page banner END -->
    <div class="content-block">
        <!-- About Us -->
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row d-flex flex-row-reverse">
                    <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
                        <div class="course-detail-bx">
                            <div class="course-price">
                                {% if object.price == 0 %}
                                    <h4 class="price" style="color: #018f23">رایگان !</h4>
                                {% elif course.discount == 100 %}
                                    <del class="mb-1"
                                         style="color:#ff3f3f;font-size: 17px">{{ object.price | intcomma:False }}</del>
                                    <h4 class="price" style="color: #018f23">رایگان !</h4>
                                {% elif object.discount < 100 %}
                                    <del class="mb-1"
                                         style="color:#ff3f3f;font-size: 17px">{{ object.price | intcomma:False }}</del>
                                    <h4 class="price">{{ object.total_price | intcomma:False }} تومان</h4>
                                {% else %}
                                    <h4 class="price">{{ object.total_price | intcomma:False }} تومان</h4>
                                {% endif %}


                            </div>
                            {% if object in user.student_courses.get_publish_course %}
                                <div class="row text-center">
                                    <div class="col-12 text-center">
                                        <a style="white-space: nowrap;font-size: 12px;color: #fff"
                                           class="btn-success radius-xl py-2 px-3 text-center">شما دانشجوی این دوره
                                            هستید</a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="course-buy-now text-center">
                                    <a href="{% url 'account:add_course_to_order' object.pk %}"
                                       class="btn radius-xl text-uppercase">خرید دوره</a>
                                </div>
                            {% endif %}

                            <div class="teacher-bx">
                                <div class="teacher-info">
                                    <div class="teacher-thumb">
                                        <img src="{{ object.teacher.profile.get_avatar }}"
                                             alt="{{ object.get_teacher_name }}">
                                    </div>
                                    <div class="teacher-name">
                                        <h5>{{ object.get_teacher_name }}</h5>
                                        <span>مدرس</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cours-more-info">
                                <div class="price categories width-100">
                                    <span>دسته‌بندی‌ها</span>
                                    <h5 class="text-primary"><a
                                            href="{{ object.categories.first.category_url }}">{{ object.category_to_str }}</a>
                                    </h5>
                                </div>
                            </div>
                            <div style="border-bottom: 1px solid #e6e6e6;"
                                 class="course-info-list scroll-page scroller">
                                <ul class="navbar">
                                    <li><a class="nav-link" href="#overview"><i class="ti-zip"></i>بررسی اجمالی</a></li>
                                    <li><a class="nav-link" href="#video-list"><i class="ti-video-camera"></i>فهرست
                                        ویدیوها</a>
                                    </li>
                                    <li><a class="nav-link" href="#teacher"><i class="ti-user"></i>مربی</a></li>
                                    <li class="mb-3"><a class="nav-link" href="#review"><i class="ti-comments"></i>دیدگاه
                                        ها</a></li>
                                </ul>
                            </div>
                            <div class="course-info-list scroll-page scroller tags">
                                <span style="font-size: 19px" class="text-right pr-3"><i
                                        class="ti-tag"></i> برچسب ها</span>
                                <ul class="mt-2">
                                    {% for tag in object.tags.get_active_tag %}
                                        <li><a class="nav-link"
                                               href="{% url 'course:course_list' %}?search={{ tag.title }}">{{ tag.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-8 col-sm-12">
                        <div class="courses-post">
                            <div class="ttr-post-media media-effect"><img src="{{ object.image.url }}"
                                                                          alt="{{ object.title }}">
                            </div>
                            <div class="ttr-post-info mb-3">
                                <div class="ttr-post-title">
                                    <h2 class="post-title">{{ object.title }}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="courese-overview" id="overview">
                            <h4>بررسی اجمالی</h4>
                            <div class="row">
                                <div class="col-md-12 col-lg-5">
                                    <ul class="course-features">
                                        <li><i class="ti-stats-up"></i> <span class="label">سطح</span> <span
                                                class="value">{{ object.get_level }}</span>
                                        </li>
                                        <li><i class="ti-user"></i> <span class="label">دانشجویان</span> <span
                                                class="value">{{ object.count_of_student }}</span>
                                        </li>
                                        <li><i class="ti-video-camera"></i> <span class="label">ویدیوها</span> <span
                                                class="value">{{ object.video.get_active_video.count }}</span>
                                        </li>
                                        <li><i class="ti-time"></i> <span class="label">مدت زمان</span><span
                                                class="value">{{ object.total_time }}</span></li>
                                        <li><i class="ti-smallcap"></i> <span class="label">زبان</span> <span
                                                class="value">{{ object.get_language }}</span>
                                        </li>
                                        <li><i class="ti-check-box"></i> <span class="label">وضعیت دوره</span> <span
                                                class="value">{{ object.finish }}</span></li>
                                    </ul>
                                </div>
                                <div class="col-md-12 col-lg-7">
                                    <h5 class="m-b5">توضیحات دوره</h5>
                                    <p>{{ object.description|safe }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="m-b30" id="video-list">
                            <h4>فهرست ویدیوها</h4>
                            {% if object.video.get_active_video %}
                                <ul class="curriculum-list">
                                    <li>
                                        <ul>
                                            {% for video in object.video.get_active_video %}
                                                <li>
                                                    <div class="curriculum-list-box">
                                                        <span>جلسه {{ video.position }}.</span> {{ video.title }}
                                                    </div>
                                                    <span>{{ video.time|time:"s : i : H" }}
                                                        {% if object in user.student_courses.get_publish_course %}<a
                                                                href="{{ video.video.url }}"
                                                                style="color: #28a745 !important;"
                                                                class="mr-2 font-weight-bold">دانلود</a>{% else %}
                                                            <i class="ti-lock mr-2 text-danger"></i>{% endif %}</span>
                                                </li>

                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            {% else %}
                                <div class="col-lg-12">
                                    <p class="alert alert-warning text-center">هنوز ویدیویی قرار داده نشده</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="" id="teacher">
                            <h4>مدرس</h4>
                            <div class="instructor-bx">
                                <div class="instructor-author">
                                    <img src="{{ object.teacher.profile.get_avatar }}"
                                         alt="{{ object.get_teacher_name }}">
                                </div>
                                <div class="instructor-info">
                                    <h6> {{ object.get_teacher_name }} </h6>
                                    <span>مدرس</span>
                                    <ul class="list-inline m-tb10">
                                        <li><a href="#" class="btn sharp-sm facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#" class="btn sharp-sm twitter"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a href="#" class="btn sharp-sm linkedin"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li><a href="#" class="btn sharp-sm google-plus"><i
                                                class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                    <p class="m-b0 text-justify">{{ object.teacher.profile.bio }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="clear" id="comment-list">
                            <div class="comments-area" id="comments">
                                <div class="clearfix m-b20">
                                    <!-- Form -->
                                    <div class="comment-respond mb-3" id="respond">
                                        <h4 class="comment-reply-title" id="reply-title">دیدگاه خود را بنویسید<small>
                                        </small></h4>
                                        <div id="review">
                                            {% if user.is_authenticated %}
                                                <form class="comment-form" id="commentform" method="post">
                                                    {% csrf_token %}
                                                    {{ form.recaptcha }} 
                                                    <p class="comment-form-comment">
                                                        <label for="comment">دیدگاه</label>
                                                        {% render_field form.message rows="8" placeholder="دیدگاه" id="comment" %}
                                                    </p>
                                                    <input type="hidden" value id="parent_id" name="parent_id" >
                                                    <p class="form-submit">
                                                        <input type="submit" value="ثبت دیدگاه" class="submit"
                                                               id="submit"
                                                               name="submit">
                                                    </p>
                                                </form>
                                            {% else %}
                                                <p class="alert alert-warning text-center">برای ثبت دیدگاه باید <a
                                                        href="{% url 'account:login' %}?next={{ request.get_full_path }}">وارد</a>
                                                    شوید.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if form.message.errors %}
                                            {% for error in form.message.errors %}
                                                <div class="col-12 mt-3" >
                                                    <p class="alert alert-danger text-center">
                                                        {{ error }}
                                                    </p>    
                                                </div>
                                            {% endfor %}
                                    {% endif %}
                                    {% if object.comments.get_active_comment %}
                                        <h2 class="comments-title">{{ object.comments.get_active_comment.count }}
                                            دیدگاه</h2>
                                    {% else %}
                                        <div class="col-lg-12">
                                            <p class="alert alert-success text-center">شما اولین دیدگاه را ثبت کنید</p>
                                        </div>
                                    {% endif %}
                                    <!-- Form -->
                                    <!-- comment list END -->
                                    <ol class="comment-list">
                                        <li class="comment">
                                            {% for comment in object.comments.get_active_comment %}
                                                <div class="comment-body {% if comment.user == object.teacher %}teacher-comment{% endif %}">
                                                    <div class="comment-author vcard"><img class="avatar photo"
                                                                                           src="{{ comment.user.profile.get_avatar }}"
                                                                                           alt="{{ comment.get_user_name }}">
                                                        <cite
                                                                class="fn">{{ comment.get_user_name }}</cite>
                                                        <span class="says">نوشته:</span></div>
                                                    <div class="comment-meta"><a>{{ comment.jalali_time }}</a>
                                                    </div>
                                                    <p class="text-justify">{{ comment.message }}</p>
                                                    <div class="reply"><a href="#comments" onclick="updateParentInput({{comment.id}})">پاسخ</a>
                                                    </div>
                                                    <div class="replies mt-3">
                                                        {% for reply in comment.replies.get_active_reply %}
                                                            <ol class="children">
                                                                <li class="comment odd parent">
                                                                    <div class="comment-body {% if reply.user == object.teacher %}teacher-comment{% endif %}">
                                                                        <div class="comment-author vcard"><img
                                                                                class="avatar photo"
                                                                                src="{{ reply.user.profile.get_avatar }}"
                                                                                alt="{{ reply.get_user_name }}"> <cite
                                                                                class="fn">{{ reply.get_user_name }}</cite>
                                                                            <span class="says">نوشته:</span></div>
                                                                        <div class="comment-meta">
                                                                            <a>{{ reply.jalali_time }}</a>
                                                                        </div>
                                                                        <p class="text-justify pl-2">{{ reply.message }}</p>
                                                                    </div>
                                                                    <!-- list END -->
                                                                </li>
                                                            </ol>
                                                        {% endfor %}
                                                    </div>


                                                </div>
                                            {% endfor %}

                                            <!-- list END -->
                                        </li>
                                    </ol>
                                    <!-- comment list END -->
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- contact area END -->
{% endblock %}

{% block add_footer_reference %}
    <script>
    function updateParentInput(num){
    document.getElementById("parent_id").value = num;
    }
    var name1 = name
    $("#reply-title").text("پاسخ خود را بنویسید");
    </script>
{% endblock %}

