<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
    <div class="widget courses-search-bx placeani">
        <div class="form-group">
            <div class="input-group">
                <label>جستجو دوره‌ها</label>
                <input name="name" type="text" required class="form-control">
            </div>
        </div>
    </div>
    <div class="widget widget_archive">
        <h5 class="widget-title style-1"><a href="{% url 'course:course_list' %}">همه‌ی دوره‌ها</a></h5>
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'course:category_course_list' category.slug %}">{{ category.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="widget">
        <a href="#"><img src="assets/images/adv/adv222.png" alt=""/></a>
    </div>
    <div class="widget recent-posts-entry widget-courses">
        <h5 class="widget-title style-1"> دوره‌های اخیر</h5>
        <div class="widget-post-bx">
            {% for course in courses %}
                <div class="widget-post clearfix">
                    <div class="ttr-post-media"><img src="{{ course.image.url }}"
                                                     width="200"
                                                     height="143" alt="{{ course.title }}"></div>
                    <div class="ttr-post-info">
                        <div class="ttr-post-header">
                            <h6 class="post-title"><a href="{{ course.course_url }}">{{ course.title }}</a></h6>
                        </div>
                        <div class="ttr-post-meta">
                            <ul>
                                <li class="price">
                                    <h5> {{ course.price }} تومان </h5>
                                </li>
                                <li class="review">03 نظر</li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>