{% load static %}
<!-- External JavaScripts -->
<script src="{% static 'account/js/jquery.min.js' %}"></script>
<script src="{% static 'account/vendors/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'account/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'account/vendors/counter/waypoints-min.js' %}"></script>
<script src="{% static 'account/vendors/counter/counterup.min.js' %}"></script>
<script src="{% static 'account/vendors/scroll/scrollbar.min.js' %}"></script>
<script src="{% static 'account/vendors/chart/chart.min.js' %}"></script>
<script src="{% static 'account/js/admin.js' %}"></script>
<script src="{% static 'account/vendors/calendar/moment.min.js' %}"></script>
<script src="{% static 'account/cal-per/moment-jalaali.js' %}"></script>
<script src="{% static 'account/vendors/calendar/fullcalendar.js' %}"></script>
<script src="{% static 'account/cal-per/locale-all.js' %}"></script>
<!-- <script>


