<!DOCTYPE html>
<html lang="fa">
<head>
    <!-- PAGE TITLE HERE  -->
    <title>{% block head_title %}{% endblock %} | سایت آموزشی</title>
    {% include 'account/_HeaderReferences.html' %}
    {% block add_header_reference %}{% endblock %}
</head>

<body class="ttr-pinned-sidebar">
<!-- header start -->
{% include 'account/Header.html' %}
<!-- header end -->

<!-- Left sidebar menu start -->
{% include 'account/Sidebar.html' %}
<!-- Left sidebar menu end -->

<!--Main container start -->
<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title">حساب کاربری</h4>
            <ul class="db-breadcrumb-list">
                {% block page_title %}{% endblock %}
            </ul>
        </div>
        {% block content %}{% endblock %}
    </div>
</main>
<div class="ttr-overlay"></div>

{% include 'account/_FooterReferences.html' %}
{% block add_footer_reference %}{% endblock %}

</body>


</html>