{% extends 'account/AccountBase.html' %}
{% load widget_tweaks %}
{% block head_title %}ایجاد مقاله{% endblock %}
{% block add_header_reference %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}
{% block page_title %}
    <li>ایجاد مقاله</li>{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 m-b30 login-error text-justify">
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if form.author.errors %}
                <div class="alert alert-danger my-1">
                    {% for error in form.author.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if form.title.errors %}
                <div class="alert alert-danger my-1">
                    {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if form.description.errors %}
                <div class="alert alert-danger my-1">
                    {% for error in form.description.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if form.image.errors %}
                <div class="alert alert-danger my-1">
                    {% for error in form.image.errors %}
                        <span>{{ error }}</span>

                    {% endfor %}
                </div>
            {% endif %}
            {% if form.tags.errors %}
                <div class="alert alert-danger my-1">
                    {% for error in form.tags.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if form.hits.errors %}
                <div class="alert alert-danger my-1">
                    {% for error in form.hits.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if form.status.errors %}
                <div class="alert alert-danger my-1">
                    {% for error in form.status.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if form.send_email.errors %}
                <div class="alert alert-danger my-1">
                    {% for error in form.send_email.errors %}
                        <span>{{ error }}</span>

                    {% endfor %}
                </div>
            {% endif %}
            {% if form.publish_time.errors %}
                <div class="alert alert-danger my-1">
                    {% for error in form.publish_time.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
        <div class="col-lg-12 m-b30">
            <div class="widget-box">
                <div class="wc-title">
                    <h4>ایجاد دوره</h4>
                </div>
                <div class="widget-inner">
                    <form method="post" enctype="multipart/form-data" class="edit-profile m-b30">
                        {% csrf_token %}
                        <div class="">
                            {% if user.is_superuser %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">نویسنده</label>
                                    <div class="col-sm-7">
                                        {% render_field form.author class="form-control" %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">عنوان مقاله</label>
                                <div class="col-sm-7">
                                    {% render_field form.title class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">تصویر</label>
                                <div class="col-sm-7">
                                    {% render_field form.image class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">توضیحات</label>
                                <div class="col-sm-7">
                                    {{ form.media }}
                                    {% render_field form.description class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">برچسب ها / تگ ها</label>
                                <div class="col-sm-7">
                                    {% render_field form.tags class="form-control" class="textarea" %}
                                </div>
                            </div>
                            {% if user.is_superuser %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">بازدید ها</label>
                                    <div class="col-sm-7">
                                        {% render_field form.hits class="form-control" style="height: 150px" %}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">وضعیت انتشار</label>
                                    <div class="col-sm-7">
                                        {% render_field form.status class="form-control" %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">وضعیت ارسال ایمیل</label>
                                    <div class="col-sm-7">
                                        {% render_field form.send_email class="form-control" %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">زمان انتشار</label>
                                <div class="col-sm-7">
                                    {% render_field form.publish_time class="form-control" %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-7">
                                <button type="submit" class="btn">ایجاد مقاله</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block add_footer_reference %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#id_tags').select2();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#id_hits').select2();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#id_author').select2();
        });
    </script>
{% endblock %}