{% load static %}
<header class="ttr-header">
    <div class="ttr-header-wrapper">
        <!--sidebar menu toggler start -->
        <div class="ttr-toggle-sidebar ttr-material-button">
            <i class="ti-close ttr-open-icon"></i>
            <i class="ti-menu ttr-close-icon"></i>
        </div>
        <!--sidebar menu toggler end -->
        <!--logo start -->
        <div class="ttr-logo-box">
            <div>
                <a href="index.html" class="ttr-logo">
                    <img class="ttr-logo-mobile" alt="" src="{% static 'account/images/logo-mobile.png' %}" width="30"
                         height="30">
                    <img class="ttr-logo-desktop" alt="" src="{% static 'account/images/logo-white.png' %}" width="160"
                         height="27">
                </a>
            </div>
        </div>
        <!--logo end -->
        <div class="ttr-header-menu">
            <!-- header left menu start -->
            <ul class="ttr-header-navigation">
                <li>
                    <a href="../index.html" class="ttr-material-button ttr-submenu-toggle">حساب کاربری</a>
                </li>
            </ul>
            <!-- header left menu end -->
        </div>
        <div class="ttr-header-right ttr-with-seperator">
            <!-- header right menu start -->
            <ul class="ttr-header-navigation">
                <li>
                    {% if request.user.profile.avatar %}
                        <a class="ttr-material-button ttr-submenu-toggle"><span class="ttr-user-avatar"><img style="height: 100%" alt=""
                                                                                                         src="{{ request.user.profile.avatar.url }}"
                                                                                                         width="32"
                                                                                                         height="32"></span></a>
                    {% endif %}
                    <div class="ttr-header-submenu" style="display: block;">
                    </div>
                </li>
                <li>
                    <a href="{% url 'account:logout' %}" class="ttr-material-button">خروج</a>
                </li>
            </ul>
            <!-- header right menu end -->
        </div>
        <!--header search panel start -->
        <div class="ttr-search-bar">
            <form class="ttr-search-form">
                <div class="ttr-search-input-wrapper">
                    <input type="text" name="qq" placeholder="جستجو ... " class="ttr-search-input">
                    <button type="submit" name="search" class="ttr-search-submit"><i class="ti-arrow-right"></i>
                    </button>
                </div>
                <span class="ttr-search-close ttr-search-toggle">
						<i class="ti-close"></i>
					</span>
            </form>
        </div>
        <!--header search panel end -->
    </div>
</header>
