{% extends 'account/AccountBase.html' %}
{% load widget_tweaks %}
{% block head_title %}پروفایل{% endblock %}
{% block page_title %}
    <li>پروفایل</li>{% endblock %}
{% block content %}
    <div class="row">
        <!-- Your Profile Views Chart -->
        <div class="col-lg-12 m-b30 login-error text-justify">
            {% if user_form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in user_form.non_field_errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if profile_form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in profile_form.non_field_errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if user_form.first_name.errors %}
                <div class="alert alert-danger my-1">
                    {% for error in user_form.first_name.errors %}
                        <span>نام ( {{ error }} )</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if user_form.last_name.errors %}
                <div class="alert alert-danger my-1">
                    {% for error in user_form.last_name.errors %}
                        <span>نام خانوادگی ( {{ error }} )</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if profile_form.phone_number.errors %}
                <div class="alert alert-danger my-1">
                    {% for error in profile_form.phone_number.errors %}
                        <span>شماره تماس ( {{ error }} )</span>

                    {% endfor %}
                </div>
            {% endif %}
            {% if profile_form.web_site.errors %}
                <div class="alert alert-danger my-1">
                    {% for error in profile_form.web_site.errors %}
                        <span>وب سایت ( {{ error }} )</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if profile_form.bio.errors %}
                <div class="alert alert-danger my-1">
                    {% for error in profile_form.bio.errors %}
                        <span>بیوگرافی ( {{ error }} )</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if profile_form.avatar.errors %}
                <div class="alert alert-danger my-1">
                    {% for error in profile_form.avatar.errors %}
                        <span>تصویر پروفایل ( {{ error }} )</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-lg-12 m-b30">
            <div class="widget-box">
                <div class="wc-title">
                    <h4>پروفایل کاربر</h4>
                </div>
                <div class="widget-inner">
                    <form method="post" enctype="multipart/form-data" class="edit-profile m-b30">
                        {% csrf_token %}
                        <div class="">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">نام کاربری</label>
                                <div class="col-sm-7">
                                    <input type="text" value="{{user.username}}"  class="form-control" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">ایمیل</label>
                                <div class="col-sm-7">
                                    <input type="email" value="{{user.email}}"  class="form-control" disabled="disabled">
                                </div>
                            </div>
                            {% if user.is_teacher %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">وضعیت مدرسی</label>
                                    <div class="col-sm-1">
                                        <input type="checkbox" class="form-control" checked disabled >
                                    </div>
                                </div>
                            {% endif %}
                            {% if user.is_student %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">وضعیت دانشجویی</label>
                                    <div class="col-sm-1">
                                        <input type="checkbox" class="form-control" checked disabled >
                                    </div>
                                </div>  
                            {% endif %}
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">نام</label>
                                <div class="col-sm-7">
                                    {% render_field user_form.first_name class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">نام خانوادگی</label>
                                <div class="col-sm-7">
                                    {% render_field user_form.last_name class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">شماره تماس</label>
                                <div class="col-sm-7">
                                    {% render_field profile_form.phone_number class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">وب سایت</label>
                                <div class="col-sm-7">
                                    {% render_field profile_form.web_site class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">بیوگرافی</label>
                                <div class="col-sm-7">
                                    {% render_field profile_form.bio class="form-control" class="textarea" %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">تصویر پروفایل</label>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-8">
                                            {% comment %} <input type="file" name="avatar" accept="image/*" class="form-control"
                                                   id="id_avatar"> {% endcomment %}
                                            {% render_field profile_form.avatar class="form-control" %}
                                        </div>
                                        {% if request.user.profile.avatar %}
                                            <div class="col-4">
                                                <div class="avatar-thumb">
                                                    <img src="{{ request.user.profile.get_avatar }}"
                                                         alt="{{ request.user.get_full_name }}">
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-7">
                                <button type="submit" class="btn">ذخیره تغییرات</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Your Profile Views Chart END-->
    </div>
{% endblock %}