{% extends 'account/AccountBase.html' %}
{% load widget_tweaks %}
{% block head_title %}مقاله های مدرس{% endblock %}
{% block page_title %}
    <li>مقاله های مدرس</li>{% endblock %}
{% block content %}
    <div class="row">
        <!-- Your Profile Views Chart -->
        <div class="col-lg-12 m-b30">
            <div class="widget-box">
                <div class="wc-title">
                    <h4>مقاله های مدرس</h4>
                </div>
                <div class="widget-inner">
                    {% for blog in object_list %}
                        <div class="card-courses-list admin-blogs">
                            <div class="card-courses-media">
                                <a href="{% url 'blog:blog_detail' blog.pk blog.slug %}"><img src="{{ blog.image.url }}"
                                                                                              alt="{{ blog.title }}"></a>
                            </div>
                            <div class="card-courses-full-dec">
                                <div class="card-courses-title">
                                    <h4><a href="{% url 'blog:blog_detail' blog.pk blog.slug %}">{{ blog.title }}</a>
                                    </h4>
                                </div>
                                <div class="card-courses-list-bx">
                                    <ul class="card-courses-view">
                                        <li class="card-courses-user">
                                            <div class="card-courses-user-pic">
                                                <img src="{{ blog.author.profile.avatar.url }}"
                                                     alt="{{ blog.get_author_name }}">
                                            </div>
                                            <div class="card-courses-user-info">
                                                <h5>نویسنده</h5>
                                                <h4>{{ blog.get_teacher_name }}</h4>
                                            </div>
                                        </li>
                                        <li class="card-courses-categories">
                                            <h5>دسته‌بندی</h5>
                                            <h4>{{ blog.category_to_str }}</h4>
                                        </li>
                                        <li class="card-courses-stats">
                                            {% if blog.status %}
                                                <a style="color: #000" class="btn button-sm green radius-xl">تایید
                                                    شده</a>
                                            {% else %}
                                                <a style="color: #fff" class="btn button-sm red radius-xl">تایید
                                                    نشده</a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                                <div class="row card-courses-dec">
                                    <div class="col-md-12">
                                        <h6 class="m-b10">توضیحات دوره</h6>
                                        <p>{{ blog.description|striptags|safe|truncatewords:32 }}</p>
                                    </div>
                                    <div class="col-md-12">
                                        <a href="{% url 'blog:blog_detail' blog.pk blog.slug %}"
                                           class="btn green radius-xl outline">لینک
                                            مقاله</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Your Profile Views Chart END-->
        </div>
{% endblock %}