{% extends 'Shared/Base.html' %}
{% load render_partial %}
{% load static %}
{% block head_title %}جزئیات مقاله{% endblock %}
{% block content %}
    <!-- inner page banner -->
    <div class="page-banner ovbl-dark" style="background-image:url({% static 'images/banner/banner2.jpg' %});">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">جزییات بلاگ</h1>
            </div>
        </div>
    </div>
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">خانه</a></li>
                <li>جزییات بلاگ</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <div class="content-block">
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-lg-8 col-xl-8">
                        <!-- blog start -->
                        <div class="recent-news blog-lg">
                            <div class="action-box blog-lg">
                                <img src="assets/images/blog/default/thum1.jpg" alt="">
                            </div>
                            <div class="info-bx">
                                <ul class="media-post">
                                    <li><a href="#"><i class="fa fa-calendar"></i>1398/10/29</a></li>
                                    <li><a href="#"><i class="fa fa-comments-o"></i>10 نظر</a></li>
                                </ul>
                                <h5 class="post-title"><a href="#">چطور موثر مطالعه کنیم همراه 20 راهکار</a></h5>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است.
                                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                <p>برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                    باشد.
                                    کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می
                                    طلبد تا با
                                    نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ
                                    پیشرو در زبان
                                    فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                                    راهکارها و شرایط
                                    سخت تایپ به پایان رسد</p>
                                <p> در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت
                                    تایپ به پایان
                                    رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای
                                    موجود طراحی
                                    اساسا مورد استفاده قرار گیرد.</p>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است.
                                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                                    تکنولوژی مورد
                                    نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                </p>
                                <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
                                <div class="widget_tag_cloud">
                                    <h6>تگ&zwnj;ها</h6>
                                    <div class="tagcloud">
                                        <a href="#">طراحی</a>
                                        <a href="#">طراحی رابط کاربری</a>
                                        <a href="#">سئو</a>
                                        <a href="#">وردپرس</a>
                                        <a href="#">توسعه محصول</a>
                                        <a href="#">طراحی محصول</a>
                                        <a href="#">طراحی</a>
                                        <a href="#">طراحی رابط کاربری</a>
                                        <a href="#">سئو</a>
                                        <a href="#">وردپرس</a>
                                        <a href="#">توسعه محصول</a>
                                        <a href="#">طراحی محصول</a>
                                        <a href="#">طراحی</a>
                                        <a href="#">طراحی رابط کاربری</a>
                                        <a href="#">سئو</a>
                                        <a href="#">وردپرس</a>
                                        <a href="#">توسعه محصول</a>
                                        <a href="#">طراحی محصول</a>
                                    </div>
                                </div>
                                <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
                                <h6>اشتراک</h6>
                                <ul class="list-inline contact-social-bx">
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                </ul>
                                <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
                            </div>
                        </div>
                        <div class="clear" id="comment-list">
                            <div class="comments-area" id="comments">
                                <h2 class="comments-title">8 نظرات</h2>
                                <div class="clearfix m-b20">
                                    <!-- comment list END -->
                                    <ol class="comment-list">
                                        <li class="comment">
                                            <div class="comment-body">
                                                <div class="comment-author vcard"><img class="avatar photo"
                                                                                       src="assets/images/testimonials/pic1.jpg"
                                                                                       alt=""> <cite class="fn">آذر
                                                    آتشفروز</cite>
                                                    <span class="says">نوشته:</span></div>
                                                <div class="comment-meta"><a href="#">بهمن 02, 1398 در 10:45
                                                    بعدازظهر</a></div>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                    استفاده از طراحان گرافیک
                                                    است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                                    است و برای شرایط فعلی
                                                    تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                                                    می باشد. </p>
                                                <div class="reply"><a href="#" class="comment-reply-link">پاسخ</a></div>
                                            </div>
                                            <ol class="children">
                                                <li class="comment odd parent">
                                                    <div class="comment-body">
                                                        <div class="comment-author vcard"><img class="avatar photo"
                                                                                               src="assets/images/testimonials/pic2.jpg"
                                                                                               alt=""> <cite class="fn">آذر
                                                            آتشفروز</cite>
                                                            <span class="says">نوشته:</span></div>
                                                        <div class="comment-meta"><a href="#">بهمن 02, 1398 در 10:45
                                                            بعدازظهر</a></div>
                                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                                                            و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                                                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                                            کاربردی می باشد.</p>
                                                        <div class="reply"><a href="#"
                                                                              class="comment-reply-link">پاسخ</a></div>
                                                    </div>
                                                    <ol class="children">
                                                        <li class="comment odd parent">
                                                            <div class="comment-body">
                                                                <div class="comment-author vcard"><img
                                                                        class="avatar photo"
                                                                        src="assets/images/testimonials/pic3.jpg"
                                                                        alt=""> <cite class="fn">تمنا آزاده</cite> <span
                                                                        class="says">نوشته:</span></div>
                                                                <div class="comment-meta"><a href="#">بهمن 02, 1398 در
                                                                    10:45 بعدازظهر</a></div>
                                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                                                    چاپ و با استفاده از طراحان گرافیک است. چاپگرها و
                                                                    متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                                                    است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                                                                    متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                                                <div class="reply"><a href="#"
                                                                                      class="comment-reply-link">پاسخ</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                    <!-- list END -->
                                                </li>
                                            </ol>
                                            <!-- list END -->
                                        </li>
                                        <li class="comment">
                                            <div class="comment-body">
                                                <div class="comment-author vcard"><img class="avatar photo"
                                                                                       src="assets/images/testimonials/pic1.jpg"
                                                                                       alt=""> <cite class="fn">آذر
                                                    آتشفروز</cite>
                                                    <span class="says">نوشته:</span></div>
                                                <div class="comment-meta"><a href="#">بهمن 02, 1398 در 10:45
                                                    بعدازظهر</a></div>
                                                <p>کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه
                                                    و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان
                                                    رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد
                                                    کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                                                    راهکارها و شرایط سخت تایپ به پایان رسد</p>
                                                <div class="reply"><a href="#" class="comment-reply-link">پاسخ</a></div>
                                            </div>
                                        </li>
                                        <li class="comment">
                                            <div class="comment-body">
                                                <div class="comment-author vcard"><img class="avatar photo"
                                                                                       src="assets/images/testimonials/pic2.jpg"
                                                                                       alt=""> <cite class="fn">آذر
                                                    آتشفروز</cite>
                                                    <span class="says">نوشته:</span></div>
                                                <div class="comment-meta"><a href="#">بهمن 02, 1398 در 10:45
                                                    بعدازظهر</a></div>
                                                <p>کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه
                                                    و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان
                                                    رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد
                                                    کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                                                    راهکارها و شرایط سخت تایپ به پایان رسد</p>
                                                <div class="reply"><a href="#" class="comment-reply-link">پاسخ</a></div>
                                            </div>
                                        </li>
                                        <li class="comment">
                                            <div class="comment-body">
                                                <div class="comment-author vcard"><img class="avatar photo"
                                                                                       src="assets/images/testimonials/pic3.jpg"
                                                                                       alt=""> <cite class="fn">آذر
                                                    آتشفروز</cite>
                                                    <span class="says">نوشته:</span></div>
                                                <div class="comment-meta"><a href="#">بهمن 02, 1398 در 10:45
                                                    بعدازظهر</a></div>
                                                <p>کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه
                                                    و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان
                                                    رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد
                                                    کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                                                    راهکارها و شرایط سخت تایپ به پایان رسد</p>
                                                <div class="reply"><a href="#" class="comment-reply-link">پاسخ</a></div>
                                            </div>
                                        </li>
                                    </ol>
                                    <!-- comment list END -->
                                    <!-- Form -->
                                    <div class="comment-respond" id="respond">
                                        <h4 class="comment-reply-title" id="reply-title">پاسخ دهید<small> <a
                                                style="display:none;" href="#" id="cancel-comment-reply-link"
                                                rel="nofollow">انصراف</a> </small></h4>
                                        <form class="comment-form" id="commentform" method="post">
                                            <p class="comment-form-author">
                                                <label for="author">نام <span class="required">*</span></label>
                                                <input type="text" value="" name="Author" placeholder="نام نویسنده"
                                                       id="author">
                                            </p>
                                            <p class="comment-form-email">
                                                <label for="email">پست&zwnj;الکترونیک <span
                                                        class="required">*</span></label>
                                                <input type="text" value="" placeholder="پست&zwnj;الکترونیک"
                                                       name="email" id="email">
                                            </p>
                                            <p class="comment-form-url">
                                                <label for="url">وبسایت</label>
                                                <input type="text" value="" placeholder="وبسایت" name="url" id="url">
                                            </p>
                                            <p class="comment-form-comment">
                                                <label for="comment">نظر</label>
                                                <textarea rows="8" name="comment" placeholder="نظر"
                                                          id="comment"></textarea>
                                            </p>
                                            <p class="form-submit">
                                                <input type="submit" value="ارسال" class="submit" id="submit"
                                                       name="submit">
                                            </p>
                                        </form>
                                    </div>
                                    <!-- Form -->
                                </div>
                            </div>
                        </div>
                        <!-- blog END -->
                    </div>
                    <!-- Left part END -->
                    <!-- Side bar start -->
                    <div class="col-lg-4 col-xl-4">
                        <aside class="side-bar sticky-top">
                            <div class="widget">
                                <h6 class="widget-title">جستجو</h6>
                                <div class="search-bx style-1">
                                    <form role="search" method="post">
                                        <div class="input-group">
                                            <input name="text" class="form-control" placeholder="جستجو کنید"
                                                   type="text">
                                            <span class="input-group-btn">
														<button type="submit"
                                                                class="fa fa-search text-primary"></button>
													</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="widget recent-posts-entry">
                                <h6 class="widget-title">آخرین پست&zwnj;ها</h6>
                                <div class="widget-post-bx">
                                    <div class="widget-post clearfix">
                                        <div class="ttr-post-media"><img src="assets/images/blog/recent-blog/pic1.jpg"
                                                                         width="200" height="143" alt=""></div>
                                        <div class="ttr-post-info">
                                            <div class="ttr-post-header">
                                                <h6 class="post-title"><a href="blog-details.html">هفت دلیل برای شروع
                                                    کسب و کار خودتان</a>
                                                </h6>
                                            </div>
                                            <ul class="media-post">
                                                <li><a href="#"><i class="fa fa-calendar"></i>1398/11/02</a></li>
                                                <li><a href="#"><i class="fa fa-comments-o"></i>15 نظر</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="widget-post clearfix">
                                        <div class="ttr-post-media"><img src="assets/images/blog/recent-blog/pic2.jpg"
                                                                         width="200" height="160" alt=""></div>
                                        <div class="ttr-post-info">
                                            <div class="ttr-post-header">
                                                <h6 class="post-title"><a href="blog-details.html">مهارت&zwnj;هایی که
                                                    باید حتما بلد باشید</a>
                                                </h6>
                                            </div>
                                            <ul class="media-post">
                                                <li><a href="#"><i class="fa fa-calendar"></i>1398/10/29</a></li>
                                                <li><a href="#"><i class="fa fa-comments-o"></i>23 نظر</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="widget-post clearfix">
                                        <div class="ttr-post-media"><img src="assets/images/blog/recent-blog/pic3.jpg"
                                                                         width="200" height="160" alt=""></div>
                                        <div class="ttr-post-info">
                                            <div class="ttr-post-header">
                                                <h6 class="post-title"><a href="blog-details.html">از بین بردن ترس
                                                    یادگیری چیزهای جدید</a>
                                                </h6>
                                            </div>
                                            <ul class="media-post">
                                                <li><a href="#"><i class="fa fa-calendar"></i>1398/10/25</a></li>
                                                <li><a href="#"><i class="fa fa-comments-o"></i>27 نظر</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget widget-newslatter">
                                <h6 class="widget-title">خبرنامه</h6>
                                <div class="news-box">
                                    <p>پست&zwnj;الکترونیک خود را برای با خبر شدن از آخرین اخبار ما وارد نمایید</p>
                                    <form class="subscription-form" action=" " method="post">
                                        <div class="ajax-message"></div>
                                        <div class="input-group">
                                            <input name="email" required="required" type="email" class="form-control"
                                                   placeholder="پست الکترونیک شما">
                                            <button name="submit" value="Submit" type="submit"
                                                    class="btn black radius-no">
                                                <i class="fa fa-paper-plane-o"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="widget widget_gallery gallery-grid-4">
                                <h6 class="widget-title">گالری</h6>
                                <ul>
                                    <li>
                                        <div><a href="#"><img src="assets/images/gallery/pic2.jpg" alt=""></a></div>
                                    </li>
                                    <li>
                                        <div><a href="#"><img src="assets/images/gallery/pic1.jpg" alt=""></a></div>
                                    </li>
                                    <li>
                                        <div><a href="#"><img src="assets/images/gallery/pic5.jpg" alt=""></a></div>
                                    </li>
                                    <li>
                                        <div><a href="#"><img src="assets/images/gallery/pic7.jpg" alt=""></a></div>
                                    </li>
                                    <li>
                                        <div><a href="#"><img src="assets/images/gallery/pic8.jpg" alt=""></a></div>
                                    </li>
                                    <li>
                                        <div><a href="#"><img src="assets/images/gallery/pic9.jpg" alt=""></a></div>
                                    </li>
                                    <li>
                                        <div><a href="#"><img src="assets/images/gallery/pic3.jpg" alt=""></a></div>
                                    </li>
                                    <li>
                                        <div><a href="#"><img src="assets/images/gallery/pic4.jpg" alt=""></a></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget widget_tag_cloud">
                                <h6 class="widget-title">تگ&zwnj;ها</h6>
                                <div class="tagcloud">
                                    <a href="#">طراحی</a>
                                    <a href="#">طراحی رابط کاربری</a>
                                    <a href="#">سئو</a>
                                    <a href="#">وردپرس</a>
                                    <a href="#">توسعه محصول</a>
                                    <a href="#">طراحی محصول</a>
                                    <a href="#">طراحی</a>
                                    <a href="#">طراحی رابط کاربری</a>
                                    <a href="#">سئو</a>
                                    <a href="#">وردپرس</a>
                                    <a href="#">توسعه محصول</a>
                                    <a href="#">طراحی محصول</a>
                                    <a href="#">طراحی</a>
                                    <a href="#">طراحی رابط کاربری</a>
                                    <a href="#">سئو</a>
                                    <a href="#">وردپرس</a>
                                    <a href="#">توسعه محصول</a>
                                    <a href="#">طراحی محصول</a>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}