{% extends 'Shared/Base.html' %}
{% load render_partial %}
{% load static %}
{% block head_title %}جزئیات مقاله{% endblock %}
{% block content %}
    <!-- inner page banner -->
    <div class="page-banner ovbl-dark" style="background-image:url({{ object.image.url }});">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">مقاله {{ object.title }}</h1>
            </div>
        </div>
    </div>
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="{% url 'index:index_page' %}">خانه</a></li>
                <li><a href="{% url 'blog:blog_list' %}">مقالات</a></li>
                <li><a href="{% url 'blog:blog_detail' object.pk object.slug %}">{{ object.title }}</a></li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <div class="content-block">
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-lg-8 col-xl-8">
                        <!-- blog start -->
                        <div class="recent-news blog-lg">
                            <div class="action-box blog-lg">
                                <img src="{{ object.image.url }}" alt="{{ object.title }}">
                            </div>
                            <div class="info-bx">
                                <ul class="media-post">
                                    <li><a><i class="fa fa-calendar"></i>{{ object.get_jalali_date_for_url }}
                                    </a></li>
                                    <li><a href="#"><i class="fa fa-comments-o"></i>10 نظر</a></li>
                                </ul>
                                <h5 class="post-title"><a href="#">{{ object.title }}</a></h5>
                                {{ object.description|safe }}
                                <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
                                <div class="widget_tag_cloud">
                                    <h6>برچسب ها</h6>
                                    <div class="tagcloud">
                                        {% for tag in object.tags.get_active_tag %}
                                            <a href="{% url 'blog:blog_list' %}?search={{ tag.title }}">{{ tag.title }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
                                <h6>اشتراک</h6>
                                <ul class="list-inline contact-social-bx">
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li><a href="#" class="btn outline radius-xl"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                </ul>
                                <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
                            </div>
                        </div>
                        <div class="clear" id="comment-list">
                            <div class="comments-area" id="comments">
                                <h2 class="comments-title">8 نظرات</h2>
                                <div class="clearfix m-b20">
                                    <!-- comment list END -->
                                    <ol class="comment-list">
                                        <li class="comment">
                                            <div class="comment-body">
                                                <div class="comment-author vcard"><img class="avatar photo"
                                                                                       src="assets/images/testimonials/pic1.jpg"
                                                                                       alt=""> <cite class="fn">آذر
                                                    آتشفروز</cite>
                                                    <span class="says">نوشته:</span></div>
                                                <div class="comment-meta"><a href="#">بهمن 02, 1398 در 10:45
                                                    بعدازظهر</a></div>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                    استفاده از طراحان گرافیک
                                                    است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                                    است و برای شرایط فعلی
                                                    تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                                                    می باشد. </p>
                                                <div class="reply"><a href="#" class="comment-reply-link">پاسخ</a></div>
                                            </div>
                                            <ol class="children">
                                                <li class="comment odd parent">
                                                    <div class="comment-body">
                                                        <div class="comment-author vcard"><img class="avatar photo"
                                                                                               src="assets/images/testimonials/pic2.jpg"
                                                                                               alt=""> <cite class="fn">آذر
                                                            آتشفروز</cite>
                                                            <span class="says">نوشته:</span></div>
                                                        <div class="comment-meta"><a href="#">بهمن 02, 1398 در 10:45
                                                            بعدازظهر</a></div>
                                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                                                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                                                            و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                                                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                                            کاربردی می باشد.</p>
                                                        <div class="reply"><a href="#"
                                                                              class="comment-reply-link">پاسخ</a></div>
                                                    </div>
                                                    <ol class="children">
                                                        <li class="comment odd parent">
                                                            <div class="comment-body">
                                                                <div class="comment-author vcard"><img
                                                                        class="avatar photo"
                                                                        src="assets/images/testimonials/pic3.jpg"
                                                                        alt=""> <cite class="fn">تمنا آزاده</cite> <span
                                                                        class="says">نوشته:</span></div>
                                                                <div class="comment-meta"><a href="#">بهمن 02, 1398 در
                                                                    10:45 بعدازظهر</a></div>
                                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                                                    چاپ و با استفاده از طراحان گرافیک است. چاپگرها و
                                                                    متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                                                    است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                                                                    متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                                                <div class="reply"><a href="#"
                                                                                      class="comment-reply-link">پاسخ</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                    <!-- list END -->
                                                </li>
                                            </ol>
                                            <!-- list END -->
                                        </li>
                                        <li class="comment">
                                            <div class="comment-body">
                                                <div class="comment-author vcard"><img class="avatar photo"
                                                                                       src="assets/images/testimonials/pic1.jpg"
                                                                                       alt=""> <cite class="fn">آذر
                                                    آتشفروز</cite>
                                                    <span class="says">نوشته:</span></div>
                                                <div class="comment-meta"><a href="#">بهمن 02, 1398 در 10:45
                                                    بعدازظهر</a></div>
                                                <p>کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه
                                                    و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان
                                                    رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد
                                                    کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                                                    راهکارها و شرایط سخت تایپ به پایان رسد</p>
                                                <div class="reply"><a href="#" class="comment-reply-link">پاسخ</a></div>
                                            </div>
                                        </li>
                                        <li class="comment">
                                            <div class="comment-body">
                                                <div class="comment-author vcard"><img class="avatar photo"
                                                                                       src="assets/images/testimonials/pic2.jpg"
                                                                                       alt=""> <cite class="fn">آذر
                                                    آتشفروز</cite>
                                                    <span class="says">نوشته:</span></div>
                                                <div class="comment-meta"><a href="#">بهمن 02, 1398 در 10:45
                                                    بعدازظهر</a></div>
                                                <p>کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه
                                                    و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان
                                                    رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد
                                                    کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                                                    راهکارها و شرایط سخت تایپ به پایان رسد</p>
                                                <div class="reply"><a href="#" class="comment-reply-link">پاسخ</a></div>
                                            </div>
                                        </li>
                                        <li class="comment">
                                            <div class="comment-body">
                                                <div class="comment-author vcard"><img class="avatar photo"
                                                                                       src="assets/images/testimonials/pic3.jpg"
                                                                                       alt=""> <cite class="fn">آذر
                                                    آتشفروز</cite>
                                                    <span class="says">نوشته:</span></div>
                                                <div class="comment-meta"><a href="#">بهمن 02, 1398 در 10:45
                                                    بعدازظهر</a></div>
                                                <p>کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه
                                                    و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان
                                                    رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد
                                                    کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                                                    راهکارها و شرایط سخت تایپ به پایان رسد</p>
                                                <div class="reply"><a href="#" class="comment-reply-link">پاسخ</a></div>
                                            </div>
                                        </li>
                                    </ol>
                                    <!-- comment list END -->
                                    <!-- Form -->
                                    <div class="comment-respond" id="respond">
                                        <h4 class="comment-reply-title" id="reply-title">پاسخ دهید<small> <a
                                                style="display:none;" href="#" id="cancel-comment-reply-link"
                                                rel="nofollow">انصراف</a> </small></h4>
                                        <form class="comment-form" id="commentform" method="post">
                                            <p class="comment-form-author">
                                                <label for="author">نام <span class="required">*</span></label>
                                                <input type="text" value="" name="Author" placeholder="نام نویسنده"
                                                       id="author">
                                            </p>
                                            <p class="comment-form-email">
                                                <label for="email">پست&zwnj;الکترونیک <span
                                                        class="required">*</span></label>
                                                <input type="text" value="" placeholder="پست&zwnj;الکترونیک"
                                                       name="email" id="email">
                                            </p>
                                            <p class="comment-form-url">
                                                <label for="url">وبسایت</label>
                                                <input type="text" value="" placeholder="وبسایت" name="url" id="url">
                                            </p>
                                            <p class="comment-form-comment">
                                                <label for="comment">نظر</label>
                                                <textarea rows="8" name="comment" placeholder="نظر"
                                                          id="comment"></textarea>
                                            </p>
                                            <p class="form-submit">
                                                <input type="submit" value="ارسال" class="submit" id="submit"
                                                       name="submit">
                                            </p>
                                        </form>
                                    </div>
                                    <!-- Form -->
                                </div>
                            </div>
                        </div>
                        <!-- blog END -->
                    </div>
                    <!-- Left part END -->
                    <!-- Side bar start -->
                    {% render_partial 'blog_app.views.sidebar_blog' %}
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}