{% extends 'Shared/Base.html' %}
{% load render_partial %}
{% load static %}
{% block head_title %}مقالات{% endblock %}
{% block content %}
    <!-- inner page banner -->
    <div class="page-banner ovbl-dark" style="background-image:url({% static 'images/banner/banner2.jpg' %});">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">{% if request.GET.search %}مقالات | جستجوی {{ request.GET.search }}{% else %}
                    مقالات{% endif %}</h1>
            </div>
        </div>
    </div>
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="{% url 'index:index_page' %}">خانه</a></li>
                <li><a href="{% url 'blog:blog_list' %}">مقالات</a></li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- contact area -->
    <div class="content-block">
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-lg-8">
                        {% for blog in page_obj %}
                            <div class="blog-post blog-md clearfix">
                                <div class="ttr-post-media">
                                    <a href="{% url 'blog:blog_detail' blog.pk blog.slug %}"><img
                                            src="{{ blog.image.url }}" alt="{{ blog.title }}"></a>
                                </div>
                                <div class="ttr-post-info">
                                    <ul class="media-post">
                                        <li><a><i class="fa fa-calendar"></i>{{ blog.get_jalali_date_for_url }}</a></li>
                                        <li><a href="#"><i class="fa fa-user"></i>{{ blog.get_author_name }}</a></li>
                                    </ul>
                                    <h5 class="post-title"><a
                                            href="{% url 'blog:blog_detail' blog.pk blog.slug %}">{{ blog.title }}</a>
                                    </h5>
                                    <p>{{ blog.description|striptags|safe|truncatechars:100 }}</p>

                                    <div class="post-extra">
                                        <a href="{% url 'blog:blog_detail' blog.pk blog.slug %}" class="btn-link">بیشتر
                                            بخوانید</a>
                                        <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>05 نظر</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- Pagination start -->
                        <div class="pagination-bx rounded-sm gray clearfix">
                            <ul class="pagination">
                                <li class="previous"><a href="#"><i class="ti-arrow-right"></i> قبلی</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="next"><a href="#">بعدی<i class="ti-arrow-left"></i></a></li>
                            </ul>
                        </div>
                        <!-- Pagination END -->
                    </div>
                    <!-- Left part END -->
                    <!-- Side bar start -->
                    {% render_partial 'blog_app.views.sidebar_blog' %}
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}