{% load static %}
<!-- External JavaScripts -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "vendors/bootstrap/js/popper.min.js" %}"></script>
<script src="{% static "vendors/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "vendors/bootstrap-select/bootstrap-select.min.js" %}"></script>
<script src="{% static "vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js" %}"></script>
<script src="{% static "vendors/magnific-popup/magnific-popup.js" %}"></script>
<script src="{% static "vendors/counter/waypoints-min.js" %}"></script>
<script src="{% static "vendors/counter/counterup.min.js" %}"></script>
<script src="{% static "vendors/imagesloaded/imagesloaded.js" %}"></script>
<script src="{% static "vendors/masonry/masonry.js" %}"></script>
<script src="{% static "vendors/masonry/filter.js" %}"></script>
<script src="{% static "vendors/owl-carousel/owl.carousel.js" %}"></script>
<script src="{% static "js/jquery.scroller.js" %}"></script>
<script src="{% static "js/functions.js" %}"></script>
<script src="{% static "js/contact.js" %}"></script>
<script src="{% static "vendors/switcher/switcher.js" %}"></script>