{% load static %}
<!-- META ============================================= -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="canonical" href="index-2.html"/>
<!-- OG -->
<meta name="robots" content="index, follow">

<meta name="keywords" content="Web Design, Education, Institute, Study"/>
<meta name="author" content="ThemeTrades"/>
<meta name="description"
      content="EduChamp is a Fully Creative Mobile Responsive HTML Template. It is designed specifically for University, College, School, Training centre or other educational institute."/>

<meta property="og:url" content="index-2.html"/>
<meta property="og:site_name" content="EduChamp : Education HTML Template"/>
<meta property="og:type" content="website"/>
<meta property="og:locale" content="en_us"/>
<meta property="og:title" content="EduChamp : Education HTML Template"/>
<meta property="og:description"
      content="EduChamp is a Fully Creative Mobile Responsive HTML Template. It is designed specifically for University, College, School, Training center or other educational institute."/>
<meta property="og:image" content="preview.png"/>

<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="index-2.html">
<meta name="twitter:creator" content="@themetrades">
<meta name="twitter:title" content="EduChamp : Education HTML Template">
<meta name="twitter:description"
      content="EduChamp is a Fully Creative Mobile Responsive HTML Template. It is designed specifically for University, College, School, Training centre or other educational institute.">

<meta name="format-detection" content="telephone=no">

<!-- FAVICONS ICON ============================================= -->
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon"/>
<link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.png" %}"/>


<!-- MOBILE SPECIFIC ============================================= -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.min.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

<!-- All PLUGINS CSS ============================================= -->
<link rel="stylesheet" type="text/css" href="{% static "css/assets.css" %}">

<!-- TYPOGRAPHY ============================================= -->
<link rel="stylesheet" type="text/css" href="{% static "css/typography.css" %}">

<!-- SHORTCODES ============================================= -->
<link rel="stylesheet" type="text/css" href="{% static "css/shortcodes/shortcodes.css" %}">

<!-- STYLESHEETS ============================================= -->
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<link class="skin" rel="stylesheet" type="text/css" href="{% static "css/color/color-1.css" %}">