{% load render_partial %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <!-- PAGE TITLE HERE ============================================= -->
    <title>{% block head_title %}{% endblock %} | سایت آموزشی</title>
    {% include 'Shared/_HeaderReferences.html' %}
</head>

<body id="bg">
<div class="page-wraper">
    <div id="loading-icon-bx"></div>
    <!-- Header Top ==== -->
    {% render_partial 'course_app.views.site_header' %}
    <!-- header END ==== -->
    <!-- Content -->
    <div class="page-content bg-white">
        {% block content %}{% endblock %}
    </div>
    <!-- Content END-->
    <!-- Footer ==== -->
    {% include 'Shared/Footer.html' %}
    <!-- Footer END ==== -->
    <button class="back-to-top fa fa-chevron-up"></button>
</div>
{% include 'Shared/_FooterReferences.html' %}
</body>


</html>