<header class="header rs-nav">
    <div class="top-bar">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="topbar-left">
                    <ul>
                        <li><a href="faq-1.html"><i class="fa fa-question-circle"></i>از ما بپرسید</a></li>
                        <li><a href="javascript:;"><i class="fa fa-envelope-o"></i>Support@website.com</a></li>
                    </ul>
                </div>
                <div class="topbar-right">
                    <ul>
                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'account:login' %}">ورود</a></li>
                            <li><a href="register.html">ثبت ‌نام</a></li>
                        {% else %}
                            <li><a href="#">حساب کاربری</a></li>
                            <li><a href="{% url 'account:logout' %}?next={{ request.get_full_path }}">خروج</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-header navbar-expand-lg">
        <div class="menu-bar clearfix">
            <div class="container clearfix">
                <!-- Header Logo ==== -->
                <div class="menu-logo">
                    <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
                </div>
                <!-- Mobile Nav Button ==== -->
                <button class="navbar-toggler collapsed menuicon justify-content-end" type="button"
                        data-toggle="collapse"
                        data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <!-- Author Nav ==== -->
                <div class="secondary-menu">
                    <div class="secondary-inner">
                        <ul>
                            <li><a href="javascript:;" class="btn-link"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="javascript:;" class="btn-link"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="javascript:;" class="btn-link"><i class="fa fa-linkedin"></i></a></li>
                            <!-- Search Button ==== -->
                            <li class="search-btn">
                                <button id="quik-search-btn" type="button" class="btn-link"><i
                                        class="fa fa-search"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Search Box ==== -->
                <div class="nav-search-bar">
                    <form action="#">
                        <input name="search" value="" type="text" class="form-control" placeholder="جستجو...">
                        <span><i class="ti-search"></i></span>
                    </form>
                    <span id="search-remove"><i class="ti-close"></i></span>
                </div>
                <!-- Navigation Menu ==== -->
                <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
                    <div class="menu-logo">
                        <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="#">خانه اصلی</a>
                        </li>
                        <li><a href="javascript:;">دوره ها <i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                {% comment %}<li><a href="javascript:;">درباره ما<i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="about-1.html">درباره ما 1</a></li>
                                        <li><a href="about-2.html">درباره ما 2</a></li>
                                    </ul>
                                </li>{% endcomment %}
                                <li>
                                    <a href="{% url 'course:course_list' %}">همه دوره ها</a>
                                </li>
                                {% for category in categories %}
                                    <li>
                                        <a href="{% url 'course:category_course_list' category.slug %}">{{ category.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="add-mega-menu"><a href="javascript:;">دوره‌های ما <i
                                class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu add-menu">
                                <li class="add-menu-left">
                                    <h5 class="menu-adv-title">دوره‌های ما</h5>
                                    <ul>
                                        <li><a href="courses.html">دوره‌ها</a></li>
                                        <li><a href="courses-details.html">جزییات دوره‌ها</a></li>
                                        <li><a href="profile.html">پروفایل استاد</a></li>
                                        <li><a href="event.html">رویدادهای آینده</a></li>
                                        <li><a href="membership.html">عضویت</a></li>
                                    </ul>
                                </li>
                                <li class="add-menu-right">
                                    <img src="assets/images/adv/adv222.png" alt=""/>
                                </li>
                            </ul>
                        </li>
                        <li><a href="javascript:;">بلاگ<i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a href="blog-classic-grid.html">بلاگ ساده</a></li>
                                <li><a href="blog-classic-sidebar.html">بلاگ ساده همراه سایدبار</a></li>
                                <li><a href="blog-list-sidebar.html">بلاگ لیستی همراه سایدبار</a></li>
                                <li><a href="blog-standard-sidebar.html">بلاگ استاندارد همراه سایدبار</a></li>
                                <li><a href="blog-details.html">جزییات بلاگ</a></li>
                            </ul>
                        </li>
                        <li class="nav-dashboard"><a href="javascript:;">داشبرد<i
                                class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a href="admin/index.html">داشبرد</a></li>
                                <li><a href="admin/add-listing.html">افزودن لیست</a></li>
                                <li><a href="admin/bookmark.html">بوکمارک</a></li>
                                <li><a href="admin/courses.html">دوره‌ها</a></li>
                                <li><a href="admin/review.html">نظرات</a></li>
                                <li><a href="admin/teacher-profile.html">پروفایل مدرس</a></li>
                                <li><a href="admin/user-profile.html">پروفایل کاربر</a></li>
                                <li><a href="javascript:;">تقویم<i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="admin/basic-calendar.html">تقویم ساده</a></li>
                                        <li><a href="admin/list-view-calendar.html">تقویم لیستی</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:;">صندوق پستی<i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="admin/mailbox.html">صندوق پستی</a></li>
                                        <li><a href="admin/mailbox-compose.html">ارسال پیام</a></li>
                                        <li><a href="admin/mailbox-read.html">نامه</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="nav-social-link">
                        <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                        <a href="javascript:;"><i class="fa fa-google-plus"></i></a>
                        <a href="javascript:;"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <!-- Navigation Menu END ==== -->
            </div>
        </div>
    </div>
</header>