{% load static %}
<header class="header rs-nav">
    <div class="top-bar">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="topbar-left">
                    <ul>
                        <li><a href="{% url 'contact:contact_create' %}"><i class="fa fa-phone"></i>تماس با ما</a></li>
                        <li><a href="mailto:{{ email }}"><i class="fa fa-envelope-o"></i>{{ email }}</a></li>
                    </ul>
                </div>
                <div class="topbar-right">
                    <ul>
                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'account:register' %}">ثبت ‌نام</a></li>
                            <li><a href="{% url 'account:login' %}">ورود</a></li>
                        {% else %}
                            <li><a>{{ user.fullname_or_username }}</a></li>
                            <li><a href="{% url 'account:profile' %}">حساب کاربری</a></li>
                            <li><a href="{% url 'account:logout' %}?next={{ request.get_full_path }}">خروج</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-header navbar-expand-lg">
        <div class="menu-bar clearfix">
            <div class="container clearfix">
                <!-- Header Logo ==== -->
                <div class="menu-logo">
                    <a href="{% url 'index:index_page' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
                </div>
                <!-- Mobile Nav Button ==== -->
                <button class="navbar-toggler collapsed menuicon justify-content-end" type="button"
                        data-toggle="collapse"
                        data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <!-- Author Nav ==== -->
                <div class="secondary-menu">
                    <div class="secondary-inner">
                        <ul>
                            {% if youtube %}
                            <li><a target="_blank" href="{{ youtube }}" class="btn-link"><i
                                    class="fa fa-youtube-play"></i></a></li>
                            {% endif %}
                            {% if twitter %}        
                            <li><a target="_blank" href="https://twitter.com/{{ twitter }}" class="btn-link"><i
                                    class="fa fa-twitter"></i></a></li>
                            {% endif %}
                            {% if instagram %}        
                            <li><a target="_blank" href="https://www.instagram.com/{{ instagram }}" class="btn-link"><i
                                    class="fa fa-instagram"></i></a></li>
                            {% endif %}        
                            <!-- Search Button ==== -->
                            <li class="search-btn">
                                <button id="quik-search-btn" type="button" class="btn-link"><i
                                        class="fa fa-search"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Search Box ==== -->
                <div class="nav-search-bar">
                    <form method="get" action="{% url 'course:course_list' %}">
                        <input name="search" value="" type="text" class="form-control" placeholder="جستجو دوره ...">
                        <span><button type="submit" style="background: none;border: none"><i
                                class="ti-search"></i></button></span>
                    </form>
                    <span id="search-remove"><i class="ti-close"></i></span>
                </div>
                <!-- Navigation Menu ==== -->
                <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
                    <div class="menu-logo">
                        <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'index:index_page' %}">صفحه اصلی</a>
                        </li>
                        <li><a href="javascript:;">دوره ها <i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="{% url 'course:course_list' %}">همه دوره ها</a>
                                </li>
                                {% for category in categories %}
                                    <li>
                                        <a href="{{ category.category_url }}">{{ category.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{% url 'blog:blog_list' %}">مقالات</a>
                        <li><a href="{% url 'contact:contact_create' %}" >تماس با ما</a></li>
                        <li><a href="{% url 'about_us:about_us' %}" >درباره ما</a></li>
                    </ul>
                </div>
                <!-- Navigation Menu END ==== -->
            </div>
        </div>
    </div>
</header>